<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Activity4.suiteExample">
    <test name="Test1">
        <classes>
            <class name="Activity4.suiteExample.DemoOne"></class>
            <class name ="Activity4.suiteExample.DemoTwo"></class>

        </classes>
    </test>
</suite>